.alert { 
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0b0357; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: 1px solid #fc0000; /* Color del borde */
    padding: 20px;
    border-radius: 10px;
    font-family: "Press Start 2P", system-ui; /* Tipo de fuente */
    font-size: 18px;
    text-shadow: 5px 5px 3px #000000;
    z-index: 1000; /* Para que esté por encima de otros elementos */
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7); /* Sombra del borde */
}

.alert button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff0019; /* Color del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 5px 5px 3px #000000;
}

.alert button:hover {
    background-color: #f5c6cb; /* Color al pasar el mouse */
}

body { 
    font-family: "Press Start 2P", system-ui;
    background: url(assets/ODS.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
    padding: 15px;
}

.columna-izquierda {
    width: 50%;
    padding-right: 10px;
}

.columna-derecha {
    width: 50%;
    padding-left: 10px;
}

.cabecera {
    text-align: center;
    background-color: rgba(159, 187, 240, 0.9);
    padding: 10px 0;
    text-shadow: 3px 3px 3px #fffdfd;
    box-shadow: 0px 0px 10px 3px rgba(252, 0, 0, 0.7); /* Sombra del borde */
}

.cabecera_titulo {
    font-size: 15px;
    color: rgb(1, 6, 75);
}

.hidden,
#palabraAdivinar,
#temporizador,
#inputPalabra,
#inputLetra,
#empezarBtn,
#probarLetraBtn,
#reiniciarBtn {
    margin-bottom: 20px;
    font-family: "Press Start 2P", system-ui;
    font-size: 14px; /* Ajustado para mejor legibilidad */
}

#probarLetraBtn, 
#reiniciarBtn {
    margin-bottom: 20px;
}

#juego,
#temporizador {
    font-size: 15px;
    background-color: rgba(238, 255, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    color: black;
    text-shadow: 3px 3px 3px #fffdfd;
    box-shadow: 0px 0px 10px 3px rgba(17, 17, 17, 0.7); /* Sombra del borde */
}

.instrucciones {
    margin-bottom: 40px;
    font-size: 10px;
    background-color: rgba(138, 43, 226, 0.8);
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-shadow: 3px 3px 3px #fffdfd;
    box-shadow: 0px 0px 10px 3px rgba(17, 17, 17, 0.7); /* Sombra del borde */
}

#palabraAdivinar {
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 20px;
    color: rgb(255, 0, 0);
}

#canvasAhorcado {
    width: 100%;
    max-width: 700px; /* Limitar tamaño máximo */
    height: auto;
    border: 5px solid black;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 10px 3px rgba(17, 17, 17, 0.7); /* Sombra del borde */
}

button {
    font-family: "Press Start 2P", system-ui;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    background-color: #2afc00;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(17, 17, 17, 0.7); /* Sombra del borde */
}

button:hover {
    background-color: #45a049;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#inputPalabra, 
#inputLetra {
    padding: 10px;
    font-size: 10px;
    width: 300px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

#inputLetra {
    width: 7%;
}

.espacio_ahorcado {
    margin-top: 30px;
    padding: 20px;
}

#empezarBtn, 
#probarLetraBtn, 
#reiniciarBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    margin-top: 20px;
    background-color: #460101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#empezarBtn:hover, 
#probarLetraBtn:hover, 
#reiniciarBtn:hover {
    background-color: #000000;
}

.footer-content p {
    text-align: center;
    background-color: rgba(1, 15, 41, 0.9);
    padding: 5px 0;
    margin: 0;
  }

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .columna-izquierda, 
    .columna-derecha {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        padding: 0; /* Elimina el padding */
    }

    .cabecera_titulo {
        font-size: 24px; /* Tamaño de fuente más pequeño */
    }

    #inputPalabra, 
    #inputLetra {
        width: 80%; /* Ajusta el ancho de los inputs */
    }

    #canvasAhorcado {
        max-width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    .alert {
        width: 80%; /* Ancho del alert */
        padding: 15px; /* Reduce el padding */
        font-size: 20px; /* Tamaño de fuente más pequeño */
    }
}
